* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px; 
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul {
    padding-left: 0; /* Menghapus padding default */
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 40px; /* Kurangi padding kiri */
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex; /* Tambahkan ini agar gambar dan teks sejajar secara horizontal */
    align-items: center; /* Tambahkan ini agar teks sejajar secara vertikal dengan gambar */
}

ul li::before {
    content: '';
    height: 20px; /* Ukuran gambar lebih kecil */
    width: 20px; /* Ukuran gambar lebih kecil */
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 10px; /* Lebih ke kiri */
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
ul li .time {
    margin-left: 10rem;
    margin-right: 40px;
    font-size: 14px;
    color: #888;
}